 .container{
    display: flex;
    justify-content: center; 
   
 }
 .containNumbers{
    display: flex;
    justify-content: center;
 }
 .rowtwo{
    display: flex;
    justify-content: center;
    
 }
 .rowThree{
    display: flex;
    justify-content: center;
 }
 .zero{
    display: flex;
    justify-content: center;
 }
 .whole{
    background-color: blanchedalmond;
    justify-content: center;
 }
 h1{
    text-align: center;
 }
p{
    text-align: center;
}
.equals{
   justify-content: flex-end;
   align-self:baseline;
}
 